/* TITLES */
h1 {
  @apply text-5xl font-display font-medium;
}

h2 {
  @apply text-3xl font-display font-medium;
}
h3 {
  @apply text-2xl font-display font-medium;
}
h4 {
  @apply text-lg font-display font-medium;
}

@screen md {
  h1 {
    @apply text-6xl;
  }

  h2 {
    @apply text-4xl;
  }
  h3 {
    @apply text-3xl;
  }
  h4 {
    @apply text-xl;
  }
}

/* NAVIGATION LINKS */

.nav-link {
  @apply text-lg uppercase tracking-widest text-center text-gray-900 font-display;
}

.nav-link:hover {
  @apply text-xl text-indigo-700 font-bold;
  transform: translateY(-1px);
}

.nav-link--icon {
  @apply text-gray-800;
}

.nav-link--icon:hover {
  @apply text-indigo-700;
}

/* CARD COMPONENT */

.card--a {
  @apply bg-white shadow-xl mb-10 px-6 pt-8 pb-16;
}

.card--a__body {
  @apply flex flex-col items-center;
}

.card--a__title {
  @apply uppercase my-4 font-medium;
}

.card--a__meta {
  @apply font-thin mb-2;
}

.card--a__text {
  @apply text-center;
}

/* BG IMAGES */

.bg-asia {
  background-image: url('./../images/chinese_house.jpg');
}

/* TEXT SHADOWS */

.text-shadow-md {
  text-shadow: 4px 4px 6px #000;
}
