/**
 * Import npm dependencies
 * see: https://en.parceljs.org/module_resolution.html
 * see commented examples below
 */

// @import "@some-company/some-node-module";
@import '@fortawesome/fontawesome-free/css/all.css';

// Your variable overrides
$enable-responsive-font-sizes: true;
$display1-size: 5.5rem !default;
$display2-size: 4.5rem !default;
$display3-size: 3.5rem !default;
$display4-size: 2.5rem !default;

// @import "some-node-module";
@import '~bootstrap/scss/bootstrap.scss';

/**
 * Import layouts
 * It's a best practice to use a partial for each page
 */

@import 'layouts/home';

/**
 * Do NOT include anything else in this file!
 */
